################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SC/Library/ShaderCache
/SC/Library/UnityAssemblies
/SC/Library/ScriptAssemblies
/SC/Library/metadata
